frontend/node_modules
frontend/package-lock.json
frontend/dist

backend/__pycache__/
backend/*/__pycache__/
backend/.venv
backend/.env
backend/*.py[cod]
*$py.class

.env
.env.local
.env.*.local

.DS_Store
Thumbs.db

.vscode/
.idea/

*.pyc
*.pyo
*.pyd
__pycache__/
*.egg-info/
*.egg

celerybeat-schedule